/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  text-align: center;
}

#image {
  max-width: 400px; /* Set maximum width to 400 pixels */
  height: auto; /* Allow the height to adjust proportionally */
}

#hat {
  position: absolute;
  top: 60%; /* Adjust vertical position */
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  display: none;
}


button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}
